@model Charity.Models.About
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100 " style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="/Content/img/@Model.image1" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="/Content/img/@Model.image2" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp d-flex align-items-center justify-content-center" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5 ">Về chúng tôi</h1>
                        <p class="text-dark mb-4">@Html.Raw(Model.MoTaNgan)</p>
                    <a class="btn btn-primary py-2 px-3 me-3" href="/@ViewBag.meta">
                        Tìm hiểu thêm
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
