@model Charity.Models.ContactInfor
<h5 class="text-light mb-4">Thông tin liên hệ</h5>
<p><i class="fa fa-map-marker-alt me-3"></i>@Model.address</p>
<p><i class="fa fa-phone-alt me-3"></i>@Model.phone</p>
<p><i class="fa fa-envelope me-3"></i>@Model.email</p>
