@model IEnumerable<Charity.Models.Menu>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
        @foreach (var item in Model)
        {
            var submenu = Html.Action("getSubmenu", "Layout", new { id = item.id });
            bool hasSubmenu = !string.IsNullOrEmpty(submenu.ToString());
            if (hasSubmenu)
            {
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/@item.meta" data-bs-toggle="dropdown">@item.name</a>
                    @submenu
                </div>
            }
            else
            if (item.name.Equals("Đóng góp"))
            {
                <div class="py-2">
                    <a class="btn btn-outline-primary py-2 px-3"href="/@item.meta">
                        Đóng góp
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <a href="/@item.meta" class="nav-item nav-link">@item.name</a>
            }
        }
    </div>
</div>

