
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <h1 style="margin: 2rem;">
        Chào mừng đến với chương trình quản lý website.
        Hãy chọn Menu để đến trang chức năng
    </h1>
</div>
<!-- /.content-wrapper -->
