@model Charity.Models.Donate

@{
    ViewBag.Title = "Xóa Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <h2>Xóa Donate</h2>

    <div>
        <h4>Bạn có chắc chắn muốn xóa Donate này không?</h4>
        <dl class="dl-horizontal">
            <dt>Tên người Donate</dt>
            <dd>@Model.PersonDonateName</dd>

            <dt>Số tiền Donate</dt>
            <dd>@Model.DonateMoney</dd>
        </dl>

        @using (Html.BeginForm("Delete", "Donate", new { id = Model.IDdonate }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
