@model Charity.Models.InforDonate

@{
    ViewBag.Title = "Xóa người thụ hưởng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <h2>Xóa người thụ hưởng</h2>

    <div>
        <h4>Bạn có chắc chắn muốn xóa người thụ hưởng này không?</h4>
        <dl class="dl-horizontal">
            <dt>Tên người thụ hưởng</dt>
            <dd>@Model.Beneficiary</dd>

            <dt>Số tài khoản</dt>
            <dd>@Model.Banknumber</dd>
        </dl>

        @using (Html.BeginForm("Delete", "InfoDonate", new { id = Model.id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
